* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Lato', sans-serif;
}

/* Navbar Start */
#navbar {
  background: #b0defd;
  height: auto;
}

.logo-image {
  width: 220px;
  height: auto;
}

.nav-item .nav-link {
  font-size: 18px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(49, 121, 255);
}

/* Dropdown Button */
.dropbtn {
  background-color: #b0defd;
  color: black;
  font-size: 15px;
  font-weight: 550;
  padding: 8px 20px;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.3s background-color;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 12px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #b0defd;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 12px;
  font-weight: 550;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropdown-content a:hover {
  background-color: rgb(49, 121, 255);
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgb(49, 121, 255);
}

/* Navbar End */

/* Home Section Start */
.home {
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)), url(images/Home/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*background-attachment: fixed;*/
}

.home .content {
  text-align: center;
  padding-top: 200px;
}

.home .content h5 {
  color: white;
  font-size: 38px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
}

.home .content h1 {
  color: white;
  font-size: 70px;
  font-weight: 550;
  text-shadow: 0px 1px 1px black;
  margin-top: 5px;
}

.changecontent::after {
  content: ' ';
  color: #36d6f3;
  text-shadow: 0px 1px 1px black;
  animation: changetext 20s infinite linear;
}

@keyframes changetext {
  0% {
    content: "Sigiriya";
  }

  10% {
    content: "Trinco";
  }

  20% {
    content: "Nuwara Eliya";
  }

  30% {
    content: "Kandy";
  }

  40% {
    content: "Mirissa";
  }

  50% {
    content: "Hambanthota";
  }

  60% {
    content: "Yala";
  }

  70% {
    content: "Colombo";
  }

  80% {
    content: "Anuradhapura";
  }

  90% {
    content: "Galle";
  }

  100% {
    content: "Museum";
  }
}

.home .content p {
  color: white;
  font-size: 15px;
  font-weight: 600;
  text-shadow: 0px 1px 1px black;
  margin-bottom: 30px;
  margin-top: 5px;
}

.home .content a {
  padding: 10px;
  background: white;
  color: black;
  letter-spacing: 2px;
  font-weight: 550;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
}

.home .content a:hover {
  background: #36d6f3;
  color: white;
}

@media (max-width:850px) {
  .home {
    background-position: 50%;
  }
}

@media (max-width:450px) {
  .home .content h5 {
    font-size: 25px;
  }

  .home .content h1 {
    font-size: 38px;
  }

  .home .content p {
    font-size: 13px;
  }
}

/* Home Section End */

/* Section Steps & Vehicle types Start */
.Steps {
  background: #f9f9f9;
  margin-top: 50px;
}

.Steps .card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border: none;
  cursor: pointer;
}

.Steps .card i {
  font-size: 80px;
  text-align: center;
  color: #36d6f3;
  margin-top: 20px;
}

.Steps .card .card-body h3 {
  font-weight: 600;
}

.Steps .card .card-body {
  text-align: center;
}

#vehicle-btn {
  text-align: center;
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: #36d6f3;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.5s ease;
  cursor: pointer;
}

#vehicle-btn:hover {
  width: 170px;
}

/* Section Steps & Vehicle types End */

/* Section Book Start */
.book {
  background: #f9f9f9;
  padding: 50px;
}

.main-text h1 {
  text-align: center;
  text-shadow: 0px 1px 1px black;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
}

.main-text h1 span {
  color: #36d6f3;
}

.book .card {
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
  margin: 80px auto;
}

.book .row {
  margin-top: 30px;
}

.book form input {
  padding: 10px;
  color: black;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  border-radius: 10px;
  box-shadow: 0px 5px 5px -6px black;
}

.book form textarea {
  border: none;
  font-family: 'Lato', sans-serif;
  border-radius: 10px;
  resize: none;
  box-shadow: 0px 5px 5px -6px black;
  height: 200px;
}

.book .submit {
  width: 160px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 550;
  background: #36d6f3;
  color: white;
  margin-top: 10px;
  transition: 0.5s;
}

.book .submit:hover {
  width: 170px;
}

@media (max-width:765px) {
  .book {
    padding: 0;
  }

  .main-text h1 {
    padding: 20px;
  }
}

/*Form start*/
/* Style the form */
#regForm {
  background-color: #b0defd;
  margin: 10px auto;
  padding: 30px;
  width: 70%;
  min-width: 300px;
  border-radius: 30px;
  font-family: 'Lato', sans-serif;
  box-shadow: 8px 10px 10px -8px #3b99d7;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #cee6f8;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  font-family: 'Lato', sans-serif;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3b99d7;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #0476aa;
}

#prevBtn,
#nextBtn {
  background-color: #0476aa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #56b0f6;
}

#prevBtn {
  background-color: #56b0f6;
}

#prevBtn.disabled,
#nextBtn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*Form end*/

/* Section Book End */

/* About Start */
.about {
  padding: 50px;
  margin-top: 50px;
  background: #f9f9f9;
}

.about .card {
  border-radius: 10px;
}

.about .card img {
  border-radius: 10px;
}

.about h2 {
  font-weight: 600;
  letter-spacing: 1px;
}

.about p {
  font-weight: 500;
}

#about-btn {
  width: 150px;
  height: 38px;
  border: none;
  border-radius: 5px;
  background: #36d6f3;
  color: white;
  letter-spacing: 2px;
  font-weight: 550;
  transition: 0.5s ease;
  cursor: pointer;
}

#about-btn:hover {
  width: 170px;
}

@media (max-width:765px) {
  .about {
    padding: 0;
  }
}

/* About End */

.faq {
  padding: 50px;
  margin-top: 50px;
  background: #f9f9f9;
}

/* Footer Start */
#footer {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  background: #f9f9f9;
}

#footer h1 {
  font-weight: 600;
  padding-top: 30px;
  text-shadow: 0px 0px 1px black;
}

#footer h1 span {
  color: #36d6f3;
}

.social-links i {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

.social-links i:hover {
  background: #36d6f3;
}

/* Footer End */