body {
    background: #ffffff;
  }
  
  /* Navbar Start */
#navbar {
  background: #b0defd;
  height: auto;
}

.logo-image {
  width: 220px;
  height: auto;
}

.nav-item .nav-link {
  font-size: 18px;
  font-weight: 550;
  color: black;
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.5s ease;
}

.nav-link:hover,
.nav-link.active {
  color: rgb(49, 121, 255);
}

/* Log out button */
.navbar-nav.ms-auto {
  background-color: rgb(49, 121, 255);
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 540;
  padding: 4px 10px;
  border-radius: 12px;
  text-decoration: none;
  transition: 0.6s background-color;
}

.navbar-nav.ms-auto:hover{
  transform: scale(1.1);
  transition: 0.4s;
}

.navbar-nav.ms-auto .nav-item {
  margin-left: 10px; /* Adjust the spacing as needed */
}

.navbar-nav.ms-auto .nav-link {
  color: #ffffff; /* Change text color */
  font-weight: bold; /* Add bold font weight */
  text-transform: uppercase; /* Convert text to uppercase */
  transition: color 0.3s ease; /* Add transition for smooth color change */
}

.navbar-nav.ms-auto .nav-link:hover {
  color: rgb(0, 0, 0);
  transition: 0.6s; /* Change text color on hover */
}
/* /Log out button */


/* Navbar End */
  
  .home .content h1 {
    color: rgb(49, 121, 255);
    font-size: 50px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    text-align: center;
    padding-top: 30px;
  }
  
  .ui-w-80 {
    width : 80px !important;
    height: auto;
  }
  
  .btn-default {
    border-color: rgba(24, 28, 33, 0.1);
    background  : rgba(0, 0, 0, 0);
    color       : #4E5155;
  }
  
  label.btn {
    margin-bottom: 0;
  }
  
  .btn-outline-primary {
    border-color: rgb(49, 121, 255);
    background  : transparent;
    color       : rgb(49, 121, 255);
  }
  
  .btn {
    cursor: pointer;
  }
  
  .text-light {
    color: #babbbc !important;
  }
  
  .card {
    background-clip: padding-box;
    box-shadow     : 0 1px 4px rgba(24, 28, 33, 0.012);
  }
  
  .row-bordered {
    overflow: hidden;
  }
  
  .account-settings-fileinput {
    position  : absolute;
    visibility: hidden;
    width     : 1px;
    height    : 1px;
    opacity   : 0;
  }
  
  .account-settings-links .list-group-item.active {
    font-weight: bold !important;
  }
  
  html:not(.dark-style) .account-settings-links .list-group-item.active {
    background: transparent !important;
  }
  
  .account-settings-multiselect~.select2-container {
    width: 100% !important;
  }
  
  .light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .light-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .material-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }
  
  .material-style .account-settings-links .list-group-item.active {
    color: #4e5155 !important;
  }
  
  .dark-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(255, 255, 255, 0.03) !important;
  }
  
  .dark-style .account-settings-links .list-group-item.active {
    color: #fff !important;
  }
  
  .light-style .account-settings-links .list-group-item.active {
    color: #4E5155 !important;
  }
  
  .light-style .account-settings-links .list-group-item {
    padding     : 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03) !important;
  }

  /*Form start*/
/* Style the form */
#regForm {
  background-color: #def9fa;
  margin: 10px auto;
  padding: 30px;
  width: 70%;
  min-width: 300px;
  border-radius: 30px;
  font-family: 'Lato', sans-serif;
}

/* Style the input fields */
input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: 'Lato', sans-serif;
  border: 1px solid #cee6f8;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
  font-family: 'Lato', sans-serif;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #3b99d7;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #0476aa;
}

#prevBtn,
#nextBtn {
  background-color: #0476aa;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
}

#prevBtn:hover,
#nextBtn:hover {
  background-color: #56b0f6;
}

#prevBtn {
  background-color: #56b0f6;
}

#prevBtn.disabled,
#nextBtn.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/*Form end*/

/* Footer Start */
#footer {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  background: #f9f9f9;
}

#footer h1 {
  font-weight: 600;
  padding-top: 30px;
  text-shadow: 0px 0px 1px black;
}

#footer h1 span {
  color: #36d6f3;
}

.social-links i {
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  background: black;
  color: white;
  margin-left: 10px;
  margin-bottom: 10px;
  transition: 0.5s ease;
  cursor: pointer;
}

.social-links i:hover {
  background: #36d6f3;
}

/* Footer End */